# Opción 1: Conexión Neon / Servidor en la nube
DATABASE_URL=postgresql://neondb_owner:tu_password@ep-xyz.us-east-2.aws.neon.tech/neondb?sslmode=require

# Opción 2: Conexión local / Docker
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=Diminombre
DB_NAME=gestion_inventario2
PORT=3000

# Auth & Security
JWT_SECRET=super_secret_jwt_key_comunitario_2026_x89!z
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10
FRONTEND_URL=http://localhost:5173
COOKIE_SECRET=cookie_secret_comunitario_secure_123
